<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Asif's-Personal Portfolio Website</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

        <!--Popper JS, jQuery library,Latest Compiled Javascript-->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/Portfolio-using-JS-Python-Flask--main/static/style.css">

    </head>
    <body>
        <a href="#myBtn3">
            <button class="scroll-up-btn" onclick="topFunction()" id="myBtn3" >
                <i class="fas fa-angle-up" ></i>   
            </button></a>

            <nav class="navbar1 nav1" id="home">
                <div class="row row1">
                    <div class="col-sm-4">
                        <div class="logo"><a href="#" style="font-size:35px;color: #fff;text-decoration: none;">Portfo<span class="a" style="color:rgb(100,280,30);">lio</span></a></div>
                    </div>
                    <div class="col-sm-8">
                        <ul class="menu1" >
                            <li ><a href="#home1" onMouseOver="this.style.color='rgb(100,280,30)'"  onMouseOut="this.style.color='#fff'"
                                 class="menu-btn home1" >Home</a></li>
                            <li><a href="#about" onMouseOver="this.style.color='rgb(100,280,30)'" onMouseOut="this.style.color='#fff'"class="menu-btn about1" >About</a></li>
                            <li><a href="#skillobj" onMouseOver="this.style.color='rgb(100,280,30)'" onMouseOut="this.style.color='#fff' "class="menu-btn" style="display: block; color: #fff;font-size: 18px;font-weight: 500;margin-left: 25px;margin-top: 12px;text-decoration: none;transition: color 0.3s ease;">Objective & Skills</a></li>
                            <li><a href="#education" onMouseOver="this.style.color='rgb(100,280,30)'" onMouseOut="this.style.color='#fff' "class="menu-btn" style="display: block;color: #fff;font-size: 18px;font-weight: 500;margin-left: 25px;margin-top: 12px;text-decoration: none;transition: color 0.3s ease;">Education</a></li>
                            <li><a href="#certificates" onMouseOver="this.style.color='rgb(100,280,30)'" onMouseOut="this.style.color='#fff'" class="menu-btn" style="display: block;color: #fff;font-size: 18px;font-weight: 500;margin-left: 25px;margin-top: 12px;text-decoration: none;transition: color 0.3s ease;">Certificates</a></li>
                            <li><a href="#projects" onMouseOver="this.style.color='rgb(100,280,30)'" onMouseOut="this.style.color='#fff' "class="menu-btn" style="display: block;color: #fff;font-size: 18px;font-weight: 500;margin-left: 25px;margin-top: 12px;text-decoration: none;transition: color 0.3s ease;">Projects & Experience</a></li>
                            <li><a href="#contact" onMouseOver="this.style.color='rgb(100,280,30)'" onMouseOut="this.style.color='#fff' "class="menu-btn" style="display: block;color: #fff;font-size: 18px;font-weight: 500;margin-left: 25px;margin-top: 12px;text-decoration: none;transition: color 0.3s ease;">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
        </nav>
        
        <section style="height:0px;padding: 59px;background-color: gray;">
            <div class="max-width" style="font-size:40px;" >
                <div class="home-content" >
                    <div class="text-1" style="padding-top: 0px;height: 55px;background-color: rgb(150,240,190);">Thank you <span class="namecapital">{{name}}</span> for filling, I will get in touch with you shortly.<span class="close">&times;</span>
                    </div>                 
                </div>
            </div>
        </section>

        <!-- home section start -->
        <section class="home" id="home1">
            
            <div class="max-width">
                <div class="home-content">
                    <div class="text-1">Hi, My Name is</div>
                    <div class="text-2">Darga Asif Ali</div>
                    <div class="text-3">And I'm <span class="typing"></span></div>
                </div>
            </div>
        </section>

        <!-- about section start -->
        <section class="about" id="about">
            <div class="max-width">
                <h2 class="title">About me</h2>
                <div class="about-content">
                    <div class="column left">
                        <img src="/static/images/profile-1.jpg" alt="A Pic of mine(passport-size)">
                    </div>
                    <div class="column right">
                        <div class="text">I'm Asif and I'm <span class="typing-2"></span><br /><span class="age">Age</span>&emsp;&nbsp;&nbsp; : 21<br /><span class="gender">Gender</span>&nbsp; : Male</div>
                        <p>I was born on 28th March,2003.<br/>My native place is Kurnool, Andhra Pradesh. I have recently completed my B.E in JSS Academy Of Technical Education, Bangalore, Karnataka. My interests are Programming, Python developer,Data Analysis and meanwhile in free time watching series, movies and sports like cricket, football etc.</p>
                        <a href="#">Download CV</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- skills section start -->
        <section class="skillobj even" id="skillobj" style="padding-bottom: 0.5px;">
            <div class="max-width">
                <h2 class="title abc"><span class="objectivebackground">Objective and Skills</span></h2>
                <div class="objective">
                    <h2>Objective</h2>
                    <p class="objectivefont">Secure a responsible career opportunity to fully utilize my training and skills, it may help to further work towards the personal and professional development and can contribute towards the prosperity of the goal of the organization. Doing the challenging tasks and made it complete so as to make the skills faster and better.</p>
                </div>
                <p style="height: 20px;"><p/p>
                <div class="skill">
                    <p><h2 style="padding-left: 410px;font-size: 2.4rem;">Skills</h2></p>
                    <div class="row" >
                        <div class="col-sm-6">
                            <h3>Languages</h3>
                            <ul style="padding-left:18px;font-size: 1.15rem;">
                                <li>C</li>
                                <li>C++</li>
                                <li>Python(including <strong>Pandas</strong>, <strong>NumPy</strong>)</li>
                                <li>Java</li>
                            </ul>
                            <h3>Web Technology</h3>
                            <ul style="padding-left:18px;font-size: 1.15rem;">
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Java Script</li>
                                <li>PHP</li>
                                <li>Python Flask and Django(Basics)</li>
                            </ul>   
                            <h3>Data Analysis and Visualization</h3>
                            <ul style="padding-left:18px;font-size: 1.15rem;">
                               <li>Matplotlib</li>
                               <li>Seaborn</li>
                               <li>MS Excel</li>
                            </ul>
                            <h3>Operating Systems</h3>
                            <ul style="padding-left:18px;font-size: 1.15rem;">
                                <li>Windows</li>
                                <li>Linux</li>
                            </ul>
                        </div>
                        <div class="col-sm-6" style="padding-left: 100px;">

                            <h3>Data-Bases</h3>
                            <ul style="padding-left:18px;font-size: 1.15rem;">
                                <li>MySQL</li>
                                <li>Oracle</li>
                            </ul>
                            <h3>Tools</h3>
                            <ul style="padding-left:18px;font-size: 1.15rem;">
                                <li>VSC</li>
                                <li>Eclipse</li>
                                <li>Atom</li>
                                <li>Xampp</li>
                                <li>Power BI</li>
                                <li>Tableau</li>
                                <li>MySQL Server</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="education" id="education" style="padding-bottom: 0.5px;">
            <div class="max-width">
                <h2 class="title edu">Education Details</h2>
                <div class="be borderradius">
                    <h3>Bachelor of Engineering(B.E)</h3>
                    <p class="name eduhead">JSS Academy Of Technical Education,Bangalore</p>
                    <p class="edustream"><span class="stream">Stream:</span> Information Science & Engineering</p>
                    <p class="educgpa"><span class="cgpa">CGPA:</span> 7.35</p>
                    <p class="date">2024</p>
                </div>
                
                <div class="intermediate borderradius">
                    <h3>Intermediate</h3>
                    <p class="name eduhead">Race Junior College, Andhra Pradesh</p>
                    <p class="edustream"><span class="stream">Stream:</span> Maths, Physics and Chemistry</p>
                    <p class="eduboard"><span class="board">Board:</span> BIEAP</p>
                    <p class="educgpa"><span class="cgpa">CGPA:</span> 8.38</p>
                    <p class="date">2020</p>
                </div>
                
                <div class="tenth borderradius">
                    <h3>Secondary School of Education</h3>
                    <p class="name eduhead">S T Joseph's English School</p>
                    <p class="eduboard"><span class="board">Board:</span> CBSE</p>
                    <p class="educptg"><span class="percentage">Percentage:</span> 86%</p>
                    <p class="date">2018</p>
                </div>
            </div>
        </section>
        <!-- Certificates Part -->
        <section class="certificates even" id="certificates" style="padding-bottom: 0.5px;">
            <div class="max-width">
                <h2 class="title cer"><span class="objectivebackground">Certificates Achieved</span></h2>
                <ul style="font-size: large;line-height: 50px;">
                    <li>The Complete Python Bootcamp From Zero to Hero in Python,Udemy</li>
                    <li>Microsoft Power BI Data Analyst Specialization- Coursera</li>
                    <li>Certificate Excellence in PYTHON, Scaler</li>
                    <li>Certificate of Completion of Python, Kaggle</li>
                    <li>Introduction to Java, Coursera</li>
                    <li>Certificate of Completion of Java, Scaler</li>
                    <li>The Data Analyst Course: Complete Data Analyst Bootcamp, Udemy</li>
                    <li>Data Analysis | SQL, Tableau, Power BI & Excel | Real Projects, Udemy</li>
                </ul>
                
            </div>
        </section>
        <section class="projects" id="projects" style="padding-bottom: 0.5px;">
            <div class="max-width">
                <h2 class="title pro">Projects & Experience</h2>
                <h3 style="background-color: rgb(237, 141, 230);width:380px;padding-left: 5px;padding-bottom: 5px;">Quiz Database Management System</h3>
                <div class="quiz" style="background-color: rgb(230,230,230);padding-left: 10px;padding-bottom: 7px;margin-top:-10px;padding-top: 3px;">
                    <a href="https://github.com/darga28/QUIZ-DATABASE-MANAGEMENT-SYSTEM" target="_blank">Open In Github</a>
                    <p>The Quiz Database Management System is a web-based platform designed for creating, managing, and completing quizzes, offering an intuitive interface for both teachers and students.</p>
                    <p>The system uses HTML, CSS, Bootstrap, and JavaScript for the front-end, PHP for the back-end, MySQL for the database, and is hosted locally using XAMPP.</p>
                    <p>The platform provides an intuitive interface that allows teachers to create, edit, and manage quizzes effectively. Students can complete quizzes in a user-friendly environment, and their performance is tracked with real-time results.The features are<span id="dots">...</span><span id="more"> the system supports various quiz formats, offers instant feedback, and is designed to enhance the learning experience. <br />
                    Future updates may include online hosting capabilities and advanced data analytics for deeper insights into student performance.</span> <button onclick="myFunction()" style="background-color:greenyellow" id="myBtn">Read more</button></p>
                </div>
            
                <h3 style="background-color: rgb(237, 141, 230);width:380px;padding-left: 5px;padding-bottom: 5px;margin-top: 13px;">Tailwind Traders Power BI Dashboard</h3>
                <div class="Tailwind" style="background-color: rgb(230,230,230);padding-left: 10px;padding-bottom: 7px;padding-top: 3px;margin-top: -10px;">
                    <a href="https://github.com/darga28/Tailwind-Traders-Power-BI-Dashboard" target="_blank">Open In Github</a>
                    <p>The Tailwind Traders Power BI Dashboard offers a comprehensive analysis of the company's sales, purchases, and profit data, enabling stakeholders to gain executive-level insights into key performance indicators (KPIs) like revenue, profit margins, and purchasing trends.</p>
                    <p>This project utilizes Power BI for data visualization and reporting, alongside Excel for initial calculations. It employs DAX for data modeling, Python for data preparation, and includes various datasets such as sales, purchases, and country information.</p>
                    <p>The dashboard offers actionable insights into Tailwind Traders' financial and operational metrics. It integrates multiple datasets, calculates key performance indicators, and uses DAX for data modeling. The three main <span id="dots1">...</span><span id="more1">pages—Sales Overview, Purchases Overview, and Profit Overview—feature interactive visuals and country-level filters. <br/>
                    Published on Power BI Service, the dashboard supports real-time monitoring of KPIs and helps guide strategic decision-making.</span> <button onclick="myFunction1()" style="background-color:greenyellow" id="myBtn1">Read more</button></p>

                </div>
                <h3 style="background-color: rgb(237, 141, 230);width:396px;padding-left: 5px;padding-bottom: 5px;margin-top: 13px;">Video to Gif Converter</h3>                
                <div class="Converter" style="background-color: rgb(230,230,230);padding-left: 10px;padding-bottom: 7px;padding-top: 3px;margin-top: -10px;">
                    <a href="https://github.com/darga28/Video-to-Gif-Converter" target="_blank">Open In Github</a>
                    <p>The Python script automates the creation of segmented GIFs with captions extracted from a video, using MoviePy for video processing and Whisper for automatic transcription.</p>
                    <p>This project uses Python, MoviePy for video editing, Whisper for transcription, and OpenCV for text rendering on GIFs.</p>
                    <p>The script processes the video, extracts captions using Whisper, and segments them into GIFs, overlaying captions for readability. It<span id="dots2">...</span><span id="more2"> allows customization of parameters like segment duration, language, and FPS. <br/>
                    Each video segment is processed, captioned, and saved as a GIF in the specified output directory, making it ideal for social media snippets or educational content.</span> <button onclick="myFunction2()" style="background-color:greenyellow" id="myBtn2">Read more</button></p>
                    
                </div>
                <h3 style="background-color: rgb(237, 141, 230);width:396px;padding-left: 5px;padding-bottom: 5px;margin-top: 13px;">Bike Sales Analysis by Tableau</h3>                
                <div class="Bike-Sales" style="background-color: rgb(230,230,230);padding-left: 10px;padding-bottom: 7px;padding-top: 3px;margin-top: -10px;">
                    <a href="https://github.com/darga28/Bike-Sales-Analysis-by-Tableau" target="_blank">Open In Github</a>
                    <p>The Bike Sales Analysis project focuses on understanding sales trends, identifying top-selling products, and analyzing customer preferences through an interactive Tableau dashboard.</p>
                    <p>The project uses data from Kaggle, with Excel for data cleaning and Tableau for visualization, culminating in a dashboard published on Tableau Public.</p>
                    <p>The analysis reveals trends in bike sales, identifies top-selling models, and highlights regional and demographic insights.The<span id="dots3">...</span><span id="more3"> Tableau dashboard showcases peak sales seasons, customer demographics, and regional performance, helping businesses optimize inventory and marketing strategies. <br/>
                    Future enhancements could include integrating customer reviews or external market data for deeper insights.</span> <button onclick="myFunction3()" style="background-color:greenyellow" id="myBtn0">Read more</button></p>
                    
                </div>
                <br />
                <br />
                <h2>Experience</h2>
                <div class="exper" style="border: 2px solid rgb(100,280,30);margin-left: 6px;padding-left: 8px;padding-top: 4px;padding-right: 5px;">   
                    <br />
                    <h3>Car Delearship Template, At Compsoft Technologies  -<span class="intern">Intern</span></h3>                
                    <a href="https://github.com/darga28/Car-dealer" target="_blank">Open In Github</a>
                    <p>During this Internship ,I was assigned the work based on the data which has observed on ouput of experiments done. A team of 4 members were created by our mentors and allocated work, out of which me as one the member.As a team of four interns, we developed the Car Dealer Application using HTML, CSS, and JavaScript. We implemented features such as a comprehensive car listing, a robust search and filter functionality, and a responsive design for both desktop and mobile devices. Each team member contributed uniquely, enhancing our collaboration, problem-solving skills, and understanding of user-centered design. This project provided valuable hands-on experience in web development and reinforced our technical capabilities. </p>
                    <br />
                    <h3>Twitter Real-Time Analysis by NullClass -<span class="intern">Intern</span></h3>                
                    <p>This an Internship conducted by NullClass. The internship duration is 3 months. I am currently doing a remote internship that offers flexible working hours. I completed a guided real-time project on the NullClass website, and they offered me a Data Analyst internship. As part of this internship, I have been assigned several tasks that need to be completed within three months. The project focuses on analyzing Twitter account data.  </p>
                </div>
            </div>        
        </section>

        <!-- contact section start -->
        <section class="contact" id="contact">
            <div class="max-width">
                <h2 class="title contactline">Contact me</h2>
                <div class="contact-content">
                    <div class="column left">
                        <p>You can get in touch through my address mentioned down, phone number, email, linkedln for uploaded certificates, github for my projects or can just send me a message (with in a week will come in touch)</p>
                        <div class="icons">
                            <div class="row">
                                <i class="fas fa-user"></i>
                                <div class="info">
                                    <div class="head">Name</div>
                                    <div class="sub-title">Darga Asif Ali</div>
                                </div>
                            </div>
                            <div class="row">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="info">
                                    <div class="head">Address</div>
                                    <div class="sub-title">6-93,Police Colony,Nandyal Road</div>
                                    <p>B Thandrapadu,Kurnool,Andhra Pradesh</p>
                                </div>
                            </div>
                            <div class="row links">
                                <a href="tel:=+917075523984" id="git">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <div class="info">
                                    <div class="head">Phone</div>
                                    <div class="sub-title">7075523984</div>
                                </a>
                            </div>
                        </div>
                            <div class="row">
                                <a id="git" href="mailto:dasifali2015@gmail.com" target="_blank" >
                                <i class="fas fa-envelope"></i>
                                <div class="info">
                                    <div class="head">Email</div>
                                    <div class="sub-title">dasifali2015@gmail.com</div></a>
                                </div>
                            </div>
                        </div>
                        <div class="row links links1">
                            <div >
                                <a id="git" href="https://github.com/darga28" target="_blank" ><i class="fa fa-github" aria-hidden="true"></i> <span class="info head">Github</span></a> 
                            </div>
                        </div>

                        <div class="row links links1">
                            <div >
                                <a id="git" href="https://www.linkedin.com/in/darga-asif-ali-5974b0282/" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i> <span class="info head">Linkedln</span></a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="notesec max-width" >
                <p class="note"><span class="notesbracket">(Note:</span> You can again fill the Contact Form by going back to the previous tab and correct information.<span class="notesbracket">)</span><br/><span class="notecolor">&emsp;But try to fill as soon as possible</span></p>
        </div>

        <!-- footer section start -->
        <footer>
            <span>Created By Asif | <span class="far fa-copyright"></span> 2024 All rights reserved.</span>
        </footer>
        <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>
        <script type="text/javascript" src="https://cpwebassets.codepen.io/assets/editor/iframe/iframeRuntimeErrors-4f205f2c14e769b448bcf477de2938c681660d5038bc464e3700256713ebe261.js"></script>
        <script src="/static/style.css"></script>
        <script>     
            var mybutton = document.getElementById("myBtn3");
            window.onscroll = function() {scrollFunction()};
            
            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    </body>
</html>
